<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tut3.css">

</head>
<style>
    .research h1{
    padding:30px;
    background-color: rgb(198, 198, 198);
    font-size:25px;
}
table,td{
border:1px solid black;
    border-collapse: collapse;
padding:10px 30px; 
    }
    table li{
list-style:none;      
    }
    table a{
        text-decoration: none;
        color:rgb(191, 58, 58);
    }
    table a:hover{
        color:rgb(18, 104, 183);
    }
</style>
<body>
     <div class="research"> 
<h1>Archive</h1>
<ul>
    <table>
      
        <tr><td><li><a href="#">January-June, 2022</a></li></td></tr>
        <tr><td><li><a href="#">July - December, 2022</a></li></td></tr>
        <tr><td><li><a href="#">July-December, 2021</a></li></td></tr>
        <tr><td><li><a href="#">January-June, 2021</a></li></td></tr>
        <tr><td><li><a href="#">July-December, 2020</a></li></td></tr>
        <tr><td><li><a href="#">January-June, 2020</a></li></td></tr>
        <tr><td><li><a href="#">July-December, 2019</a></li></td></tr>
        <tr><td><li><a href="#">January-June, 2019</a></li></td></tr>
        <tr><td><li><a href="#">July-December, 2018</a></li></td></tr>
        <tr><td><li><a href="#">January-June, 2018</a></li></td></tr>
        <tr><td><li><a href="#">July-December, 2017</a></li></td></tr>
        <tr><td><li><a href="#">January-June, 2017</a></li></td></tr>
        <tr><td><li><a href="#">April-October, 2016</a></li></td></tr>
        <tr><td><li><a href="#">April-October, 2013</a></li></td></tr>
        <tr><td><li><a href="#">April, 2012</a></li></td></tr>
        <tr><td><li><a href="#">April, 2009</a></li></td></tr>
        <tr><td><li><a href="#">April, 2006</a></li></td></tr>
        <tr><td><li><a href="#">October, 2006</a></li></td></tr>
   
    </table>
</ul>
</div>  

</body>
</html>