.campus{
    padding-bottom:100px;
}
.campus h1{
    padding-top:100px;
    text-align:center;
    color:rgb(91, 145, 176);
    font-size:40px;  
}
.campus .list{
    display:flex;
       flex-direction:row; 
       flex-wrap:wrap;
   }
   .campus .list div{
        /* padding:33%; */
      height:300px;
       width:400px;
      text-align:center;
        margin:auto;
       position: relative;
       top: 0;
       box-shadow: 10px 10px 10px 10px  rgb(234, 230, 230);
       transition: top ease 0.5s;
   }
   .campus .list div:hover{
    background-color:rgb(244, 244, 244) ;
    top: -15px;
   }
.campus .list img{
    padding-top:20px;
height:190px;
width:350px;
   }

   .campus h2{
    text-align:center;
    color:rgb(63, 99, 121);
    font-size:20px;
   }
   .awards{
    background-image:linear-gradient(rgba(126, 159, 177, 0.8),rgba(111, 134, 146, 0.8)),url('../Components/jason-leung-r93UZeT3AQE-unsplash.jpg');
    background-position:center;
    background-size:cover;
    position:relative;
   }
   .awards .list div{
    height: 300px;
    width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 0;
box-shadow:none;
    transition: top ease 0.5s;
    background-color: white;
}
.awards h1{
    color:white;
}