.tour{
    display:flex;
    flex-direction:row;
    padding:50px;
    background-color:rgb(244, 244, 244);
}
.tour div{
    margin:auto;

}
.tour .main h1{
    color:rgb(91, 145, 176);
font-size:50px;
}

.tour .main li{
   
font-size:20px; 
font-weight: bold;
    list-style-type:square;
    color:rgb(92, 115, 130);  
}
.tour div img{
    height:300px;
    width:600px;
}

.tour .main li a{
    text-align: start;
    color:rgb(92, 115, 130);  
font-size:24px; 
    text-decoration: none;
}
.tour .main li a:hover{
    color:rgb(174, 49, 49);
}