.info{
    background-image:url('../Components/priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    opacity:0.9;
    height:600px;
    }
    .info h1{
     padding:300px 20px;
     color:white;
    width:75%;
    display:block;
    font-size:50px;
    font-family
    :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
    }